[submodule "AgiBot-World"]
	path = AgiBot-World
	url = https://github.com/OpenDriveLab/AgiBot-World.git

[submodule "AgiBot-World-Submission/CogACT/inference"]
	path = AgiBot-World-Submission/CogACT/inference
	url = https://github.com/Eureka6174/CogACT.git
	branch = inference
