PyYAML==6.0.2
hydra-colorlog>=1.2.0
hydra-core>=1.1.1
tqdm>=4.65.0
transformers==4.47.1
diffusers>=0.31.0
wandb>=0.19.0
numpy<2.0
sentence-transformers==2.2.2
open_clip_torch==2.20.0
datasets==2.12.0
json-numpy
jsonlines
matplotlib
protobuf
rich
sentencepiece==0.1.99
timm==0.9.10
tokenizers>=0.21
decord
scikit-image
brotli
imageio-ffmpeg
imageio
ffmpeg-python
opencv-python
pympler
flask
# Optional VCS dependency from your pyproject:
# utils3d @ git+https://github.com/EasternJournalist/utils3d.git#egg=utils3d

#./3rdparty/ik_solver-0.4.3-cp310-cp310-linux_x86_64.whl
https://raw.githubusercontent.com/AgibotTech/genie_sim/main/3rdparty/ik_solver-0.4.3-cp310-cp310-linux_x86_64.whl
urdfpy
networkx==2.8.8
